1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [3]:
import pandas as pd
import json

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [6]:
videogames_file = pd.read_csv("videogames.csv" , index_col = 0)

In [7]:
videogames_file.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

3. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [8]:
videogames_file.to_excel("videogames_excel.xlsx")

In [9]:
videogames_file_excel = pd.read_excel("videogames_excel.xlsx" , index_col = 0)

In [10]:
videogames_file_excel.head()

# El Dataframe de ambos archivos es similar

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

4. Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv.

In [11]:
videogames_file_excel.to_csv("files/videogames.csv")

5. Copia el archivo persona.json en la carpeta Files.

In [ ]:
# Hecho

6. Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

In [14]:
with open("files/personal.json" , "r") as fichero:
    
    personal_file = json.load(fichero)

In [15]:
personal_file

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [85]:
personal_file['workers'][0].keys()

dict_keys(['nombre', 'edad', 'experiencia', 'nivel', 'salario', 'mascota'])

In [86]:
nombre = [trabajador['nombre'] for trabajador in personal_file['workers']]
edad = [trabajador['edad'] for trabajador in personal_file['workers']]
experiencia = [trabajador['experiencia'] for trabajador in personal_file['workers']]
nivel = [trabajador['nivel'] for trabajador in personal_file['workers']]
salario = [trabajador['salario'] for trabajador in personal_file['workers']]
mascota = [trabajador['mascota'] if 'mascota' in trabajador and trabajador['mascota'] else 'no tiene' for trabajador in personal_file['workers']]

In [87]:
personal_actualizado = {'nombre' : nombre , 'edad' : edad , 'experiencia' : experiencia , 'nivel' : nivel, 'salario' : salario, 'mascota' : mascota}

In [88]:
personal_actualizado

{'nombre': ['Ana', 'Eva', 'Marta', 'Paula'],
 'edad': [34, 37, 27, 30],
 'experiencia': [5, 2, 1, 3],
 'nivel': ['Senior', 'Mid', 'Junior', 'Mid'],
 'salario': [50000, 35000, 25000, 35000],
 'mascota': ['gatos', 'no tiene', 'no tiene', 'no tiene']}

In [73]:
nuevas_columnas = set()

for trabajador in personal_file['workers']:
    
    nuevas_columnas.update(trabajador.keys())
    
# Otra forma de hacerlo: Iteramos por cada diccionario de trabajador y sacamos sus claves, que añadimos a un set para que elimine aquellas que se repiten y conserve las que son únicas

In [84]:
personal_actualizado2 = {columna : [trabajador.get(columna, 'no tiene') for trabajador in personal_file['workers']] for columna in nuevas_columnas}

# Creamos el nuevo diccionario en el que le decimos que la key es igual a columna in nuevas_columnas (es decir: nombre, edad...) y le asignamos un valor que será acceder al diccionario de cada trabajador en personal_file['workers'] a través de la key de columna (recordemos: nombre, edad...)

personal_actualizado2

{'salario': [50000, 35000, 25000, 35000],
 'nivel': ['Senior', 'Mid', 'Junior', 'Mid'],
 'edad': [34, 37, 27, 30],
 'experiencia': [5, 2, 1, 3],
 'nombre': ['Ana', 'Eva', 'Marta', 'Paula'],
 'mascota': ['gatos', 'no tiene', 'no tiene', 'no tiene']}

7. Guardar el json modifiado y abrirlo en Pandas para que tenga formato de tabla.

In [89]:
with open("files/personal_actualizado.json" , "w") as fichero:
    json.dump (personal_actualizado , fichero)

In [90]:
personal_actualizado_df = pd.read_json("files/personal_actualizado.json")

In [91]:
personal_actualizado_df.head()

  nombre  edad  experiencia   nivel  salario   mascota
0    Ana    34            5  Senior    50000     gatos
1    Eva    37            2     Mid    35000  no tiene
2  Marta    27            1  Junior    25000  no tiene
3  Paula    30            3     Mid    35000  no tiene